{{ define "paginator" }}
<nav class="paginator" aria-label={{ .T "paginator-label-nav" }}>
	<ul>
	{{ if gt .Data.Current 1 }}
	<li><a href="{{ .Data.Url }}{{ sub .Data.Current 1 }}" aria-label={{ .T "paginator-label-previous" }} rel="prev">‹</a></li>
	{{ else }}
	<li><span aria-disabled="true">‹</span></li>
	{{ end }}
	{{ if gt .Data.Current 2 }}
		<li><a href="{{ .Data.Url }}{{ sub .Data.Current 2 }}">{{ sub .Data.Current 2 }}</a></li>
	{{ end }}
	{{ if gt .Data.Current 1 }}
		<li><a href="{{ .Data.Url }}{{ sub .Data.Current 1 }}">{{ sub .Data.Current 1 }}</a></li>
	{{ end }}
		<li><span class="is-current">{{ .Data.Current }}</span></li>
	{{ if le .Data.Current (sub .Data.Total 1) }}
		<li><a href="{{ .Data.Url }}{{ add .Data.Current 1 }}">{{ add .Data.Current 1 }}</a></li>
	{{ end }}
	{{ if le .Data.Current (sub .Data.Total 2) }}
		<li><a href="{{ .Data.Url }}{{ add .Data.Current 2 }}">{{ add .Data.Current 2 }}</a></li>
	{{ end }}
	{{ if lt .Data.Current .Data.Total }}
		<li><a href="{{ .Data.Url }}{{ add .Data.Current 1 }}" aria-label={{ .T "paginator-label-next" }} rel="next">›</a></li>
	{{ else }}
		<li><span aria-disabled="true">›</span></li>
	{{ end }}
	</ul>
</nav>
{{ end }}
