{{ define "card-search" }}
<form class="search-form" id="search-form" action="/cards/search/" method="get">
	<input type="text" id="q" name="q" placeholder="{{ .T "card-search-placeholder" }}"
		value="{{ .Data.Query }}">
	<button type="submit" aria-label={{ .T "card-search-submit" }}></button>
</form>

{{ if ne (len .Data.Cards) 0 }}
	{{ .Children.Paginator }}
{{end}}

<e-cluster justify="center">
	{{ if eq (len .Data.Cards) 0 }}
		<p>{{ .T "card-search-empty"}}</p>
	{{ else }}
		{{ range $val := .Data.Cards }}
			{{ template "card" $val }}
		{{ end }}
	{{ end }}
</e-cluster>
{{ end }}
