{{ define "base" }}
<!DOCTYPE html>
<html theme="{{ .Theme }}">
<head>
	<script src="https://cdn.jsdelivr.net/npm/e-layout/dist/e-layout.min.js"></script>

	<script>
if (!document.cookie.includes('theme=')) {
    const theme = matchMedia('(prefers-color-scheme: dark)').matches
        ? 'dark'
        : 'light';
    document.cookie = `theme=${theme}; Path=/; Max-Age=31536000; SameSite=Lax`;
    document.documentElement.setAttribute("theme", theme);
}
	</script>
	<link rel="stylesheet" href="/static/theme.css" type="text/css">

	<title>{{ .Data.Title }}</title>
</head>
<body>
	<header>
		{{ template "theme_switcher" . }}
		{{ template "login_popover" . }}
		{{ template "register_popover" . }}
	</header>
	<main>
	{{ .Children.Content }}
	</main>
</body>
</html>
{{ end }}
