{{ define "base" }}
<!DOCTYPE html>
<html theme="{{ .Theme }}">
<head>
	<script src="https://cdn.jsdelivr.net/npm/e-layout/dist/e-layout.min.js"></script>

	<!--- Temporary -->
	<link rel="stylesheet" href="/static/theme.css" type="text/css">

	<title>{{ .Data.Title }}</title>
</head>
<body>
	<header>
		<a id="login-popover"></a>
		<script type="module" src="/frontend/login_popover.js"></script>
		<a id="register-popover"></a>
		<script type="module" src="/frontend/register_popover.js"></script>
		{{ template "theme_switcher" . }}
	</header>
	<main>
	{{ .Children.Content }}
	</main>
</body>
</html>
{{ end }}
